# Node and coverage
node_modules/
coverage
.nyc_output
xunit-test-results.xml

# Project Development files
*.log
/src/

# Editor config
/.project
/.settings
/.idea
/.vscode

# Random
.DS_Store
next_git_comment.txt
mingw32
jsconfig.json
